<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}  

<!-----Content----->
<div id="mainpage">
<div id="my-goal" class="d-flex flex-row justify-content-evenly">
    <div class="card" style="max-width:300px; margin-right:5px;">
        <div class="d-flex flex-row" style="width:100%; height:100%">
            <div class="col-5" style="overflow-x: hidden; overflow-y:hidden;">
                <img src="https://github.com/upj53/shared/assets/27456270/2d0a360e-32e5-4511-b9e2-e13554cf7ba5"
                    class="rounded-start" style="width:auto; height:100%;" alt="bg-1">
            </div>
            <div class="col-7 card-body-layer">
                <div class="card-body">
                    <h5 class="card-title">논문완성</h5>
                    <ul class="card-text">
                        <li>플랫폼 개발</li>
                        <li>1, 2차 설문지</li>
                        <li>논문 작성</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="max-width:300px; margin-right:5px;">
        <div class="d-flex flex-row" style="width:100%; height:100%">
            <div class="col-5" style="overflow-x: hidden; overflow-y:hidden;">
                <img src="https://github.com/upj53/shared/assets/27456270/80dc6263-faec-4dae-9bcb-5034eee0b986"
                    class="rounded-start" style="width:auto; height:100%;" alt="bg-1">
            </div>
            <div class="col-7 card-body-layer">
                <div class="card-body">
                    <h5 class="card-title">10단계 64억</h5>
                    <ul class="card-text">
                        <li style="text-decoration:none;">166.667 $/월</li>
                        <li style="text-decoration:none;">208.333 $/월</li>
                        <li style="text-decoration:none;">277.778 $/월</li>
                        <li style="text-decoration:none;">416.677 $/월</li>
                        <li style="text-decoration:none;">833.333 $/월</li>
                        <li style="text-decoration:none;">3단계 5천만</li>
                        <li style="text-decoration:none;">4단계 1억</li>
                        <li style="text-decoration:none;">5단계 2억</li>
                        <li style="text-decoration:none;">6단계 4억</li>
                        <li style="text-decoration:none;">7단계 8억</li>
                        <li style="text-decoration:none;">8단계 16억</li>
                        <li style="text-decoration:none;">9단계 32억</li>
                        <li style="text-decoration:line-through;">1단계 1천만</li>
                        <li style="text-decoration:line-through;">2단계 2천500만</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="max-width:300px;">
        <div class="d-flex flex-row" style="width:100%; height:100%">
            <div class="col-5" style="overflow-x: hidden; overflow-y:hidden;">
                <img src="https://github.com/upj53/shared/assets/27456270/99bbe434-da70-42aa-8b73-9b4b6a9396d3"
                    class="rounded-start" style="width:auto; height:100%;" alt="bg-1">
            </div>
            <div class="col-7 card-body-layer">
                <div class="card-body">
                    <h5 class="card-title">120세 건강한 부부</h5>
                    <ul class="card-text">
                        <li style="text-decoration:none;">40세</li>
                        <li style="text-decoration:none;">50세</li>
                        <li style="text-decoration:none;">60세</li>
                        <li style="text-decoration:none;">70세</li>
                        <li style="text-decoration:none;">80세</li>
                        <li style="text-decoration:none;">90세</li>
                        <li style="text-decoration:none;">100세</li>
                        <li style="text-decoration:none;">110세</li>
                        <li style="text-decoration:none;">120세</li>
                        <li style="text-decoration:none;">2대</li>
                        <li style="text-decoration:none;">3대</li>
                        <li style="text-decoration:none;">4대</li>
                        <li style="text-decoration:none;">5대</li>
                        <li style="text-decoration:line-through;">0세</li>
                        <li style="text-decoration:line-through;">10세</li>
                        <li style="text-decoration:line-through;">20세</li>
                        <li style="text-decoration:line-through;">30세</li>
                        <li style="text-decoration:line-through;">0대</li>
                        <li style="text-decoration:line-through;">1대</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="plan-do-see">Plan Do See Must
{{ content }}</div>
</div>

{% include footer.html %}

</body>
</html>
